<div class="main">
    <div class="container">
        <div class="title">Log in</div>
        <input type="email" placeholder="Email ID*">
        <div class="forgotEmail">FORGOT EMAIL ID?</div>
        <div class="password">
            <input type="password" placeholder="Password*">
            <img src="../../assets/fromDrive/preview.svg" alt="ShowPassword">    
        </div>
        <div class="forgotPassword">FORGOT PASSWORD?</div>
        <div class="rememberMe">
            <input type="checkbox" >
            <span>Remember Me</span>
        </div>
        <button>LOG IN</button>
        <div class="notRegisteredYet">Not registered yet?</div>
        <div class="createAnAccount" (click)='createAnAccount()' >CREATE AN ACCOUNT</div>
    </div>
    
    <div class="footer">
        <div class="about">About</div>
        <span>|</span>
        <div class="contactUs">Contact Us</div>
    </div>
</div>