<div class="main">
  <div class="header">
    <div class="title">Educational Qualification</div>
    <div class="dropdownIcon">
      <img
        *ngIf="isEducationalQualificationOpen == true"
        (click)="toggleEducationalQualification()"
        src="../../../../../assets/fromDrive/expand_less_black_24dp.svg"
        alt="Up"
      />
      <img
        *ngIf="isEducationalQualificationOpen == false"
        (click)="toggleEducationalQualification()"
        src="../../../../../assets/fromDrive/expand_more.svg"
        alt="Up"
      />
    </div>
  </div>
  <div *ngIf="isEducationalQualificationOpen == true" class="container">
    <div class="percentage">
      <label for="percentage"> Aggregate Percentage* </label>
      <input type="number" id="percentage" />
    </div>
    <div class="yearOfPassing">
      <label for="yearOfPassing">Year Of Passing*</label>
      <select id="yearOfPassing">
        <option
          *ngFor="let yearOfPassing of yearsOfPassing;index as id"
          value="{{id}}"
        >
          {{ yearOfPassing }}
        </option>
      </select>
    </div>

    <div class="row">
      <div class="qualification">
        <label for="qualification"> Qualification* </label>
        <select id="qualification">
          <option
            *ngFor="let qualification of qualifications;index as id"
            value="{{id}}"
          >
            {{ qualification }}
          </option>
        </select>
      </div>
      <div class="stream">
        <label for="stream"> Stream* </label>
        <select id="stream">
          <option *ngFor="let stream of streams; index as id" value="{{id}}">
            {{ stream }}
          </option>
        </select>
      </div>
    </div>

    <div class="row">
        <div class="college">
            <label for="college">
College*
            </label>
            <select id="college">
                <option *ngFor='let college of colleges;index as id' value="{{id}}">
                    {{ college }}
                </option>
            </select>
        </div>
        <div class="otherCollege">
            <label for="otherCollege">
If others, please enter your college name
            </label>
            <input type="text"  id="otherCollege">
        </div>
    </div>
    <div class="collegeLocation">
        <label for="collegeLocation">Where is your college located?*</label>
        <input type="text"  id="collegeLocation">
    </div>
  </div>
</div>
