<div class="appBar">
    <img class="backButton" src="../../../../assets/fromDrive/back.svg" alt="Back">
    <div class="title">Create An Account</div>
    <div class="actions">
        <button class="cancelButton" (click)="onCancel($event)">CANCEL</button>
        <button class="createButton" [ngClass]="{enableCreate: currentStepNumber == 3}">CREATE</button>
    </div>
</div>
<div class="body">
    
    <app-stepper [currentStepNumber]="currentStepNumber"></app-stepper>

    <app-personal-information 
        *ngIf="currentStepNumber == 1" 
        (updateCurrentStepNumber)="updateCurrentStepNumber($event)" 
        (savePersonalInformation)="savePersonalInformation($event)" 
        [savedPersonalInformation]="personalInformation">
    </app-personal-information>
    <app-qualification 
        *ngIf="currentStepNumber == 2" 
        (updateCurrentStepNumber)="updateCurrentStepNumber($event)"
        [educationalQualification]="educationalQualification"
        (saveEducationalQualification)="saveEducationalQualification($event)"
        [professionalQualification]="professionalQualification"
        (saveProfessionalQualification)="saveProfessionalQualification($event)">
    </app-qualification>
    <app-review-and-proceed 
        *ngIf="currentStepNumber == 3" 
        (updateCurrentStepNumber)="updateCurrentStepNumber($event)"
        [personalInformation]="personalInformation"
        [educationalQualification]="educationalQualification"
        [professionalQualification]="professionalQualification">
    </app-review-and-proceed>
</div>