<div class="main">
    <app-educational-qualification [educationalQualification]="educationalQualification" class="marginBottom" ></app-educational-qualification>
    <app-professional-qualification [professionalQualification]="professionalQualification" class="marginBottom" ></app-professional-qualification>
    <div class="buttons marginBottom" >
        <button (click)="onClickPrevious()" >PREVIOUS</button>
        <button class="nextButton" (click)="onClickNext()">NEXT</button>
    </div>
</div>